<div id="page-wrapper" ng-controller="UserController">
    <div class="graphs">
        <div class="xs">
            <div class="panel panel-success">
                <!--<div class="panel-heading" >-->
                <!--<h3 class="panel-title"><strong>Add new customer</strong></h3>-->
                <!--</div>-->
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="horizontal-form">
                            <div class="form-horizontal">


                                <div class="form-group">
                                    <label class="col-sm-2 control-label"></label>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label">User Id</label>
                                    <div class="col-md-10">
                                        <input ng-model="user.userId" type="text" class="form-control" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">User Name</label>
                                    <div class="col-md-10">
                                        <input ng-model="user.userName" type="text" class="form-control" placeholder="User Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Region</label>
                                    <div class="col-md-10">
                                        <input ng-model="user.password" type="password" class="form-control" placeholder="Password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Privilege</label>
                                    <div class="col-md-10">
                                        <!--<input ng-model="user.privilege" type="text" class="form-control" placeholder="Qty On Hand">-->
                                        <select>
                                            <option value="Admin">Administrator</option>
                                            <option value="Admin & Manager">Admin & Manager</option>
                                            <option value="Manager">Manager</option>
                                            <option value="Clerk">Clerk</option>
                                            <option value="Factory Worker">Factory Worker</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label">Name</label>
                                    <div class="col-md-10">
                                        <input ng-model="user.name" type="text" class="form-control" placeholder="Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Address</label>
                                    <div class="col-md-10">
                                        <input ng-model="user.address" type="text" class="form-control" placeholder="Address">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Contact No</label>
                                    <div class="col-md-10">
                                        <input ng-model="user.contactNo" type="text" class="form-control" placeholder="Contact No">
                                    </div>
                                </div>
                                <div  style="width: 100%">
                                    <button style="float: right"  ng-click="saveUser()" type="button" class="btn btn-primary waves-effect w-md waves-light m-b-5">Save</button>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
