<div id="page-wrapper" ng-controller="RegionController">
    <div class="graphs">
        <div class="xs">
            <div class="panel panel-success">
                <div class="panel-heading" >
                    <h3 class="panel-title"><strong>Add New Region</strong></h3>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="horizontal-form">
                            <div class="form-horizontal">


                                <div class="form-group">
                                    <label class="col-sm-2 control-label"></label>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label">Region :</label>

                                    <input data-toggle="tooltip" title="Region" ng-model="region.name" type="text" class="form-control" placeholder="Enter Region" >

                                </div>

                                <div  style="width: 100%">
                                    <button style="float: right"  ng-click="addRegion()" title="Region Save" type="button" class="btn btn-primary waves-effect w-md waves-light m-b-5">Add</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

