<div ng-controller="RegionController" class="panel">
    <div class="graphs">
        <div class="xs">
            <div class="panel panel-success">
                <div class="panel-heading" >
                    <h3 class="panel-title"><strong>View All Regions</strong></h3>
                </div>


                <div class="panel-body">

                    <div ng-init="getAllRegions()" class="">
                    <table class="table table-striped" id="datatable-editable">
                         <thead>
                     <tr>
                        <th>Region Id</th>
                        <th>Region Name</th>
                     </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="product in allProducts" class="gradeX">
                        <td>{{region.regionId}}</td>
                        <td>{{region.name}}</td>

                         </tr>
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </div>
        </div>
</div>