
    <div id="page-wrapper" ng-controller="DeliveryOrder" >

        <div class="graphs">
            <div class="xs">
                <div class="panel panel-success">
                    <div class="panel-heading" >
                        <h3 class="panel-title"><strong>Delivery Order</strong></h3>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="form-group">
                                <label class="col-md-2 control-label">User Name</label>
                                <div class="col-md-10">
                                    <input ng-model="order.customerName" type="text" class="form-control" placeholder="customer name">
                                </div>
                            </div>
                            <div class="tab-pane active" id="horizontal-form">
                                <form class="form-horizontal">

                                        <div class="form-group">
                                            <table class="table table-striped" id="datatable-editable">
                                                <thead>
                                                <tr>
                                                    <th>description</th>
                                                    <th>quantity Supplied</th>
                                                    <th>Unit Price</th>
                                                    <th>Price</th>

                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="product in allProducts" class="gradeX" onClick="HighLightTR(this,'#c9cc99','cc3333')";>
                                                    <td>{{order.description}}</td>
                                                    <td>{{order.quantitySupplied}}</td>
                                                    <td>{{order.unitPrice}}</td>
                                                    <td>{{order.price}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    
                                </form>

                                <div><button ng-click="update(data)" class="btn btn-primary btn-xs">create
                                </button></div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


</head>
<body>

</body>
</html>