<div ng-controller="IndividualCustomerController">
    <div>
        <div style="padding-right: 100px" class="form-horizontal">
            <div class="form-group">
                <label class="col-md-2 control-label">Name</label>
                <div class="col-md-10">
                    <input ng-model="customer.name" type="text" class="form-control" placeholder="Customer Name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Adderss</label>
                <div class="col-md-10">
                    <input ng-model="customer.address" type="text" class="form-control" placeholder="Address">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Region</label>
                <div class="col-md-10">
                    <input ng-model="customer.region" type="text" class="form-control" placeholder="Region">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Contact No</label>
                <div class="col-md-10">
                    <input ng-model="customer.contactNo" type="text" class="form-control" placeholder="Contact No">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Credit Period</label>
                <div class="col-md-10">
                    <input ng-model="customer.creditPeriod" type="text" class="form-control" placeholder="Credit Period">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Date</label>
                <div class="col-md-10">
                    <input ng-model="customer.registeredDate" type="date" class="form-control" placeholder="Date">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Sales Rep</label>
                <div class="col-md-10">
                    <input ng-model="customer.salesRepresentative" type="text" class="form-control" placeholder="Sales Rep">
                </div>
            </div>
            <div  style="width: 100%">
            <button style="float: right"  ng-click="saveCustomer()" type="button" class="btn btn-primary waves-effect w-md waves-light m-b-5">Save</button>
            </div>
        </div>
    </div>
</div>