<div ng-controller="IndividualCustomerController" class="panel">

    <div class="panel-body">

        <div ng-init="getAllCustomers()" class="">
            <table class="table table-striped" id="datatable-editable">
                <thead>
                <tr>
                    <th>CustomerId</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Region</th>
                    <th>Credit Period</th>
                    <th>Contact No</th>
                    <th>Register Date</th>
                    <th>Sales Rep</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="customer in allCustomers" class="gradeX">
                    <td>{{customer.custId}}</td>
                    <td>{{customer.name}}</td>
                    <td>{{customer.address}}</td>
                    <td>{{customer.region}}</td>
                    <td>{{customer.creditPeriod}}</td>
                    <td>{{customer.contactNo}}</td>
                    <td>{{customer.registeredDate}}</td>
                    <td>{{customer.salesRepresentative}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>