<div id="page-wrapper" ng-controller="ProductController">
    <div class="graphs">
        <div class="xs">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Add Product</strong></h3>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="horizontal-form">
                            <form class="form-horizontal">


                                <div class="form-group">
                                    <label class="col-sm-2 control-label"></label>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label">Description</label>
                                    <div class="col-md-10">
                                        <input id="description" ng-model="product.description" required="required"
                                               type="text" class="form-control"
                                               placeholder="Description">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Selling Price</label>
                                    <div class="col-md-10">
                                        <input  id="sellingPrice" ng-model="product.sellingPrice" required="required"
                                               type="text" class="form-control"
                                               placeholder="Selling Price" onkeypress="if ( isNaN(this.value + String.fromCharCode(event.keyCode) )) return false;">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">QTY On Hand</label>
                                    <div class="col-md-10">
                                        <input id="qtyOnHand" ng-model="product.qtyOnHand" required="required"
                                               type="text" class="form-control"
                                               placeholder="Qty On Hand" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Re-Order Level</label>
                                    <div class="col-md-10">
                                        <input id="reOrderLevel" ng-model="product.reOrderLevel" required="required"
                                               type="text" class="form-control"
                                               placeholder="Reorder Level" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;">
                                    </div>
                                </div>
                                <div style="width: 100%">
                                    <button style="float: right" ng-click="saveProduct()" type="submit"
                                            class="btn btn-primary waves-effect w-md waves-light m-b-5">Save
                                    </button>
                                </div>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

<script>
    $('#sellingPrice')
            .keydown(function (e) {
                var key = e.charCode || e.keyCode || 0;

                // Allow numeric (and tab, backspace, delete) keys only
                return (key == 8 ||
                key == 9 ||
                key == 46 ||
                (key >= 48 && key <= 57) ||
                (key >= 96 && key <= 105));
            });


</script>

<script>
    $('#qtyOnHand')
            .keydown(function (e) {
                var key = e.charCode || e.keyCode || 0;

                // Allow numeric (and tab, backspace, delete) keys only
                return (key == 8 ||
                key == 9 ||
                key == 46 ||
                (key >= 48 && key <= 57) ||
                (key >= 96 && key <= 105));
            });


</script>

<script>
    $('#reOrderLevel')
            .keydown(function (e) {
                var key = e.charCode || e.keyCode || 0;

                // Allow numeric (and tab, backspace, delete) keys only
                return (key == 8 ||
                key == 9 ||
                key == 46 ||
                (key >= 48 && key <= 57) ||
                (key >= 96 && key <= 105));
            });


</script>

