<div ng-controller="ProductController" class="panel">

    <div class="panel-body">

        <div ng-init="getAllProducts()" class="">
            <table class="table table-striped" id="datatable-editable">
                <thead>
                <tr>
                    <th>ProductId</th>
                    <th>Description</th>
                    <th>Selling Price</th>
                    <th>Qty On Hand</th>
                    <th>Re-order Level</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="product in allProducts" class="gradeX">
                    <td>{{product.pId}}</td>
                    <td>{{product.description}}</td>
                    <td>{{product.sellingPrice}}</td>
                    <td>{{product .region}}</td>
                    <td>{{product.qtyOnHand}}</td>
                    <td>{{product.reOrderLevel}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>